.page {
    width: 100vw;
    height: 100vh;
}

.cardContainer {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    display: flex;
}

.card {
    margin-left: 20px;
    width: 300px;
    border: 1px solid grey;
}